<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="auditoriums.xml" />


    <bean id="userDao" class="ua.epam.spring.hometask.dao.impl.UserDaoImpl" />
    <bean id="userService" class="ua.epam.spring.hometask.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao" />
    </bean>

    <bean id="eventDao" class="ua.epam.spring.hometask.dao.impl.EventDaoImpl" />
    <bean id="eventService" class="ua.epam.spring.hometask.service.impl.EventServiceImpl">
        <property name="eventDao" ref="eventDao" />
    </bean>

    <bean id="auditoriumDao" class="ua.epam.spring.hometask.dao.impl.AuditoriumDaoImpl">
        <property name="auditoriums" ref="auditoriumMap" />
    </bean>
    <bean id="auditoriumService" class="ua.epam.spring.hometask.service.impl.AuditoriumServiceImpl">
        <property name="auditoriumDao" ref="auditoriumDao" />
    </bean>


</beans>